config OSN_BACKEND_MLD_BCM
    bool "BCM mcpd"

    help
        Use the Broadcom `mcpd` utility for managing MLD.

        Broadcom platforms use mcpd binary for correctly configuring IPv6
        multicast traffic.

